.crypto-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#tabela {
    display: none;
}

.logout_btn {
    width: 28px;
    height: 28px;
    padding: 3px;
}

.logout_img {
    width: 22px;
    height: 22px;
}

.alert_img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

td {
    vertical-align: middle;
}

.flex-center {
    display: flex;
    align-items: center;
}

form {
    margin: 0;
}